.Contact{
    margin-left: 500px;

}
.contact-container {
    margin: 20px auto;
    width: 50%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

.button-group {
    overflow: hidden; /* Clear floats */
}

button {
    float: right;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}

button:focus {
    outline: none;
}


.Contact-Links{
    display: flex;
    // gap:20px;
    justify-content: space-around; /* Distribute space evenly between items */
    margin-top: 0px;
    margin-bottom: 10px;
    width: 500px;
    margin-left: 790px;
  }
  
  .Contact-Links a {
    font-size: 14px;
    text-decoration: none;
    color: #3e2723;
    padding-top: 20px;
  }
  