
.fixed-height-container {
  height: 100vh; /* Set the height to viewport height */
  overflow: hidden; /* Hide any overflow content */
}

.container {
  display: grid;
  grid-template-columns: 60% 40%; /* Adjusted to 60% for left-side and 40% for right-side */
  grid-template-rows: 97.23vh; /* Fixed height size */
  // overflow: hidden; /* Hide overflow content */
}
.Name_Murthy{
  padding-top: 10px;

}
.Top-Name{
  color: #3e2723;
  text-decoration: none;
  
}

.left-side {
  // padding-top: 10px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  height: 100vh;  /* Set height to 100vh */
  // overflow: hidden; /* Hide overflow content */
  // justify-content: center;
  // height: 100vh;
  // overflow: hidden; /* Hide overflow content */
}

.Murthy_Chart {
  margin-top: 0px;
  margin-left: 22px;
  display: inline-block; 
}
.Chat-Room{
  margin-left: 22px;
}

.img_logo {
  width: 250px;
  height: 80px;
}
.Title-img{
  height: 90px;
  width: 200px;
}

.Chart_Room {
  font-size: 30px;
  margin-left: 30px;
}
.search-container {
  flex: 1;
}
.search-input {
  margin-top: 150px;
  margin-left: 40px;
  font-style: oblique;
  padding: 20px; /* Add padding to create space around the textarea */
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 90%; /* Adjusted width for responsiveness */
  max-width: 700px; /* Added max-width */
  font-size: 16px;
  outline: none;
  overflow: hidden; /* Hide scrollbar */
  resize: none; /* Disable resizing */
  height: 15vh;
  
  position: relative; /* Set position relative for pseudo-element */
}

.search-input textarea {
  flex: 1; /* Take remaining space */
  height: 100%; /* Ensure textarea takes full height */
  width: 100%; /* Ensure textarea takes full width */
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  resize: none; /* Disable resizing */
  margin: 20px 0; /* Add margin to the top and bottom */
  text-align: center; 
  overflow: auto; /* Center text inside textarea */
}

.search-input textarea::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for webkit browsers (Chrome, Safari, etc.) */
}

/* If you also want to hide the scrollbar for Firefox */
.search-input textarea {
  scrollbar-width: none;
}


.search-input textarea::placeholder {
  position: absolute; /* Position placeholder absolutely */
  top: 50%; /* Move placeholder 50% from the top */
  left: 50%; /* Move placeholder 50% from the left */
  transform: translate(-50%, -50%); /* Center placeholder */
}


// .SearchName{
//   font-size: 20px;
//   width: "200px";
//    height: auto;
//   font-style: oblique;
//   margin-top: 1px;
//   margin-left: 20px;
//   margin-right: 20px;
//   padding-left: 30px;
//   white-space: pre-wrap;
//   word-wrap: break-word;
//   overflow: hidden;
// }
.SearchName {
  font-size: 20px;
  width: auto;
  max-height: 200px; /* Specify a maximum height */
  font-style: oblique;
  margin-top: 1px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  white-space: pre-wrap;
  word-wrap: break-word;
 
  overflow-y: auto; /* Display scrollbar when content exceeds max-height */
}

/* Hide scrollbar for .SearchName */
.SearchName::-webkit-scrollbar {
  width: 0;
  display: none;
}



.right-side {
  height: 100vh;
  color: #3e2723;
  font-weight: 100;
  font-size: 25px;
  background-color: #ffecb3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh; /* Set height to 100vh */
  // overflow: hidden; /* Hide overflow content */
  // overflow: hidden; /* Hide overflow content */
}

.Label_Name {
  font-size: 17px;
  padding-top: 80px;
  margin-left: 0px;
  // display: inline-block; 
}

.Contant {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 10px;
}

.LogoName {
  font-weight: 900;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 170px;
  font-size: 20px;
  color: #fff;
}

.name_img {
  width: 280px;
  height: 200px;
  margin-left: 100px;
  margin-top: 160px;
}

// .Links {
//   display: flex;
//   margin-top: 160px;
//   justify-content: space-around;
// }

// .Links a {
//   font-size: 15px;
//   width: 165px;
//   text-decoration: none;
//   padding-top: 20px;
//   color: #3e2723;
// }

.Links {
  display: flex;
  justify-content: space-around; /* Distribute space evenly between items */
  margin-top: 100px;
}

.Links a {
  font-size: 14px;
  text-decoration: none;
  color: #3e2723;
  padding-top: 20px;
}
.Inc{
  font-size: 15px;
  margin-left: 15px;
  margin-bottom: 8px;
}

@media (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 97.23vh; /* Adjusted to one column for small screens */
    grid-template-rows: 60% 40%; /* Left side 60%, Right side 40% */
  }

  .left-side {
    padding: 20px;
    margin-top: 0px;
    height: auto;
  }
  .Murthy_Chart {
    margin-top: 30px;
    margin-left: 20px;
  }
  .search-input {
    margin-top: 120px;
    margin-left: 10px;
  }

  .right-side {
    padding: 20px;
    margin-top: 0px;
    height: auto;
  }

  .name_img {
    width: 100px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .Links {
    display: flex;
    margin-top: 0px;
    justify-content: space-around;
  }
  
  .Links a {
    font-size: 15px;
    width: 165px;
    text-decoration: none;
    padding-top: 10px;
    color: #3e2723;
  }
}

