.Container {
  margin: 2px;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Container_item {
  margin-top: 40px;
}

.Title-img1 {
  height: 60px;
  width: 40px;
}

.Tearms-Links {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.Tearms-Links a {
  font-size: 14px;
  text-decoration: none;
  color: #3e2723;
  padding-top: 20px;
}

.Title-container1 {
  display: flex;
  align-items: center;
  gap: 1px;
  margin-left: 10px;
}

.Top-Name1 {
  color: #3e2723;
  text-decoration: none;
}

.WelCome_Name {
  color: #981f4d;
  margin-top: 10px;
  text-align: center;
}

.Content_detailes {
  font-size: 0.8em;
  line-height: 1.6;
}

@media (max-width: 576px) {
  .Container {
    width: 100%;
  }
  .Tearms-Links {
    display: flex;
    justify-content: space-around;
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .Tearms-Links a {
    font-size: 14px;
    text-decoration: none;
    color: #3e2723;
    padding-top: 10px;
  }
}
